<title>Patient Trends Glucose</title>
<link rel='stylesheet' href='/css/clinican_sidebar.css' />
<link rel="stylesheet" href="/css/clinican_dashboard.css" />
<link rel="stylesheet" href="/css/clinican_patient_data.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

<body>
  {{> sidebarClinician this }}
  <main>
    <header>
      <div class="return">
        <img src="/icons/back-icon.svg" alt=""> Back
      </div>
      <h1>Patient Data</h1>
      <div class="day"> <div id="week_day"></div> <div id="date"></div> </div>
    </header>

    <section class="content">
      <div class="nav patient-options">
        <div class="tabs">
          <div class="tab selected"><a href="/clinician/{{patient._id}}/data">Data</a></div>
          <div class="tab"><a href="/clinician/{{patient._id}}/messages">Messages</a></div>
          <div class="tab"><a href="/clinician/{{patient._id}}/notes">Notes</a></div>
          <div class="tab"><a href="/clinician/{{patient._id}}/info">Info</a></div>
        </div>
        <div class="content">
          <table>
            <tr>
              <th></th>
              <th><img src="/icons/blood-glucose.svg" alt="" srcset=""></th>
              <th><img src="/icons/weight.svg" alt="" srcset=""></th>
              <th><img src="/icons/insulin.svg" alt="" srcset=""></th>
              <th><img src="/icons/steps.svg" alt="" srcset=""></th>
            </r>
            {{!-- {{log this}} --}}
          {{#each data as |data|}}
            <tr>
              <td>{{formatDate this.date}}</td>
              <td>
                {{#if ../patient_settings.requires_glucose}}
                  {{#if data.glucose_data}}
                    {{#if (check_range data.glucose_data.value ../patient_thresholds.blood_result.min_value ../patient_thresholds.blood_result.max_value)}}
                      {{data.glucose_data.value}} mmol/L
                    {{else}}
                      <div class="danger">
                      <img src="/icons/danger.svg" alt="">
                        {{data.glucose_data.value}} mmol/L
                      </div>

                    {{/if }}
                  {{else}}
                    <img src="/icons/warn.svg" alt="">
                  {{/if }}
                {{/if }}

              </td>
              
              <td>
                {{#if ../patient_settings.requires_weight}}
                  {{#if data.weight_data}}
                    {{#if (check_range data.weight_data.value ../patient_thresholds.weight_result.min_value ../patient_thresholds.weight_result.max_value)}}
                      {{data.weight_data.value}} kg
                    {{else}}
                      <div class="danger">
                      <img src="/icons/danger.svg" alt="">
                        {{data.weight_data.value}} kg
                      </div>

                    {{/if }}
                  {{else}}
                    <img src="/icons/warn.svg" alt="">
                  {{/if }}
                {{/if }}

              </td>
              
              <td>
                {{#if ../patient_settings.requires_insulin}}
                  {{#if data.insulin_data}}
                    {{#if (check_range data.insulin_data.value ../patient_thresholds.insulin_result.min_value ../patient_thresholds.insulin_result.max_value)}}
                      {{data.insulin_data.value}}
                    {{else}}
                      <div class="danger">
                      <img src="/icons/danger.svg" alt="">
                        {{data.insulin_data.value}}
                      </div>

                    {{/if }}
                  {{else}}
                    <img src="/icons/warn.svg" alt="">
                  {{/if }}
                {{/if }}

              </td>

              <td>
                {{#if ../patient_settings.requires_steps}}
                  {{#if data.steps_data}}
                    {{#if (check_range data.steps_data.value ../patient_thresholds.steps_result.min_value ../patient_thresholds.steps_result.max_value)}}
                      {{data.steps_data.value}} steps
                    {{else}}
                      <div class="danger">
                      <img src="/icons/danger.svg" alt="">
                        {{data.steps_data.value}} steps
                      </div>

                    {{/if }}
                  {{else}}
                    <img src="/icons/warn.svg" alt="">
                  {{/if }}
                {{/if }}

              </td>
            </tr>
          {{/each}}
          </table>
        </div>
      </div>

      <div class="nav">
        <div class="tabs">
            {{#if this.patient_settings.requires_glucose}}
              <div class="tab {{data_title "blood_glucose" type}}">  
                <a href="/clinician/{{patient._id}}/data/blood_glucose">Glucose</a></div>
            {{/if}}
            {{#if this.patient_settings.requires_glucose}}
            <div class="tab {{data_title "insulin" type}}">
              <a href="/clinician/{{patient._id}}/data/insulin">Insulin</a>
            </div>
            {{/if}}
            {{#if this.patient_settings.requires_glucose}}
            <div class="tab {{data_title "weight" type}}">
              <a href="/clinician/{{patient._id}}/data/weight">Weight</a>
            </div>
            {{/if}}
            {{#if this.patient_settings.requires_steps}}
            <div class="tab {{data_title "steps" type}}">
              <a href="/clinician/{{patient._id}}/data/steps">Steps</a>
            </div>
            {{/if}}

        </div>
        <div class="content white">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>

    </section>


<script>
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  const date =  new Date();
  const week_day = days[date.getDay()];
  const day = date.getDate();
  const month = months[date.getMonth()];
  const year = date.getFullYear();

  document.getElementById("week_day").innerHTML = week_day + ",";
  document.getElementById("date").innerHTML = day + " " + month + " " + year;

  document.getElementsByClassName("name")

  ///
  let healthdata = {{{this.health}}};
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    options: {
        plugins: {
            legend: {
                display: false
            },
            labels: {
              fontSize: 20
            }
          
        },
          scales: {
            y: {
               ticks: {
                 font:  {
                        size: 20,
                    }
               }
            },
            x: {
               ticks: {
                 font:  {
                        size: 20
                    }
               }
            }
        } 
    },
    data: {
        labels: healthdata.map((data)=> `${new Date(data.created).getDate()+1}/${new Date(data.created).getMonth()+1}`).slice(0,21),
         fontColor: ['rgba(255, 255, 255, 30)'],
         datasets: [{
          data: healthdata.map((data)=> data.value).slice(0,21),
          fill: false,
          tension: 0.1,
          backgroundColor: [
            'rgba(255, 255, 255, 0.5)',
          ],
        }]
       }
});
///

</script>




