<html><head>
		<meta charset="UTF-8">
		<title></title>
		{{!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js" charset="utf-8"></script> --}}
		{{!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script> --}}
		{{!-- <script src="http://livejs.com/live.js"></script> --}}
		
		<script type="text/javascript" src="/js/app.js"></script>
		<link rel="stylesheet" href="/css/app.css">
        <style>
            .flex-container {
            display: flex;
            flex-direction: column;
            }
            .flex-container-column{
                display: flex;
                flex-direction: column;
            }

            .row  {
            background-color: dodgerblue;
            margin: 10px;
            padding: 20px;
            font-size: 30px;
            }
            .column {
                background-color: dodgerblue;
                margin: 10px;
                padding: 20px;
                font-size: 30px; 
            }
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
	</head>
	<body>
		<div>
			<h1>Data Entry Page</h1>
            <h2>Patient: {{patient.firstname}} {{patient.lastname}}</h2>
            <h3><a href="/patient/homepage">Go back to homepage</a></h3>
            <div class="flex-container" style="flex", align-items="center" justify-content="center">
                        {{#if patientsettings.requires_glucose}}
                        <div class="row" width="auto" border="1px solid blue">
                        <div class="flex-item">
                        <div class="flex-item">
                            <tr><td >glucose</td></tr>
                            {{#if entry.glucose}}
                                <form method="post" action="/patient/dataentry/update">
                                    <p style="color:black"> 
                                        Blood Glucose: 
                                        {{entry.glucose.value}} nmo/L
                                    </p>
                                    {{#if entry.glucose.comment}}
                                        <pre style="background-color:white">{{entry.glucose.comment}}</pre>
                                    {{else}}
                                        <pre style="background-color:white">
                                            
                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.glucose}}>
                                    <input type="Submit" value="Update Data">
                                </form>
                            {{else}}
                                <form method="post" action="/patient/dataentry/add">
                                    <p style="color:black"> 
                                        Blood Glucose: 
                                        No data
                                    </p>
                                    {{#if entry.glucose.comment}}
                                        <pre style="background-color:white">
                                            {{entry.glucose.comment}}
                                        </pre>
                                    {{else}}
                                        <pre style="background-color:white">

                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.glucose}}>
                                    <input type="Submit" value="Add Data">
                                </form>
                            {{/if}}
                        </div>                        
                        </div>  
                        </div>
                        {{/if}}


                        {{#if patientsettings.requires_insulin}}
                        <div class="row" width="auto" border="1px solid blue">
                        <div class="flex-item">                        
                        <div class="flex-item">
                            <tr><td >insulin</td></tr>
                            {{#if entry.insulin}}
                                <form method="post" action="/patient/dataentry/update">
                                    <p style="color:black"> 
                                        Insulin: 
                                        {{entry.insulin.value}} Shots
                                    </p>
                                    {{#if entry.insulin.comment}}
                                        <pre style="background-color:white">{{entry.insulin.comment}}</pre>
                                    {{else}}
                                        <pre style="background-color:white">
                                            
                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.insulin}}>
                                    <input type="Submit" value="Update Data">
                                </form>
                            {{else}}
                                <form method="post" action="/patient/dataentry/add">
                                    <p style="color:black"> 
                                        Insulin: 
                                        No data
                                    </p>
                                    {{#if entry.insulin.comment}}
                                        <pre style="background-color:white">{{entry.insulin.comment}}</pre>
                                    {{else}}
                                        <pre style="background-color:white">

                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.insulin}}>
                                    <input type="Submit" value="Add Data">
                                </form>
                            {{/if}}
                        </div>
                        </div>  
                        </div>                        
                        {{/if}}



                        {{#if patientsettings.requires_steps}}
                        <div class="row" width="auto" border="1px solid blue">
                        <div class="flex-item">                        
                        <div class="flex-item">
                            <tr><td >steps</td></tr>
                            {{#if entry.steps}}
                                <form method="post" action="/patient/dataentry/update">
                                    <p style="color:black"> 
                                        steps: 
                                        {{entry.steps.value}} steps
                                    </p>
                                    {{#if entry.steps.comment}}
                                        <p style="background-color:white">{{entry.steps.comment}}</p>
                                    {{else}}
                                        <pre style="background-color:white">
                                            
                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.steps}}>
                                    <input type="Submit" value="Update Data">
                                </form>
                            {{else}}
                                <form method="post" action="/patient/dataentry/add">
                                    <p style="color:black"> 
                                        steps: 
                                        No data
                                    </p>
                                    {{#if entry.steps.comment}}
                                        <p style="background-color:white">{{entry.steps.comment}}</p>
                                    {{else}}
                                        <pre style="background-color:white">

                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.steps}}>
                                    <input type="Submit" value="Add Data">
                                </form>
                            {{/if}}
                        </div>
                        </div>  
                        </div>                        
                        {{/if}}



                        {{#if patientsettings.requires_weight}}
                        <div class="row" width="auto" border="1px solid blue">
                        <div class="flex-item">                        
                        <div class="flex-item">
                            <tr><td >weight</td></tr>
                            {{#if entry.weight}}
                                <form method="post" action="/patient/dataentry/update">
                                    <p style="color:black"> 
                                        weight: 
                                        {{entry.weight.value}} kg
                                    </p>
                                    {{#if entry.weight.comment}}
                                        <p style="background-color:white">{{entry.weight.comment}}</p>
                                    {{else}}
                                        <pre style="background-color:white">
                                            
                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.weight}}>
                                    <input type="Submit" value="Update Data">
                                </form>
                            {{else}}
                                <form method="post" action="/patient/dataentry/add">
                                    <p style="color:black"> 
                                        weight: 
                                        No data
                                    </p>
                                    {{#if entry.weight.comment}}
                                        <p style="background-color:white">{{entry.weight.comment}}</p>
                                    {{else}}
                                        <pre style="background-color:white">

                                        </pre>
                                    {{/if}}
                                    {{!-- <input id="data-field" type="number" name="data_value"> --}}
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.weight}}>
                                    <input type="Submit" value="Add Data">
                                </form>
                            {{/if}}
                        </div>
                        </div>  
                        </div>                        
                        {{/if}}
                </div>
