<html><head>
		<meta charset="UTF-8">
		<title></title>
		{{!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js" charset="utf-8"></script> --}}
		{{!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script> --}}
		{{!-- <script src="http://livejs.com/live.js"></script> --}}
		
		<script type="text/javascript" src="/js/app.js"></script>
		<link rel="stylesheet" href="/css/app.css">
        <style>
            .flex-container {
            display: flex;
            }
            .flex-container-column{
                display: flex;
                flex-direction: column;
            }

            .row  {
            background-color: dodgerblue;
            margin: 10px;
            padding: 20px;
            font-size: 30px;
            }
            .column {
                background-color: dodgerblue;
                margin: 10px;
                padding: 20px;
                font-size: 30px; 
            }
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
		<div>
			<h1>Homepage</h1>
            <h2>Patient: {{patient.firstname}} {{patient.lastname}}</h2>
            <h3><a href="/patient/dataentry">Go to data entry page</a></h3>
			{{!-- <p>{{#each userInput}}</p>
                <div class="todo">
                    <form method="post" action="/">
                        <input id="todo-field" type="text" name="task">
                        <input type="submit">
                    </form>
                    <p><a>{{this.</a></p>
                        {{!-- <p><a href="edit/{{this.id}}/">{{this.task}}</a></p> --}}
                        {{!-- <p><a href="delete/{{this._id}}">delete</a></p> --}}
                {{!-- </div>
                {{/each}} --}} 
                <div class="flex-container" style="flex", align-items="center" justify-content="center">

                        {{#if patientsettings.requires_glucose}}                    
                        <div class="row" width="auto" border="1px solid blue">

                            {{#if entry.glucose}}
                            <div class="flex-item" style="color:green">
                            <tr><td >glucose</td><td> &#10003</td><td></tr>
                                <div style="color:black">
                                    <tr><td> {{entry.glucose.value}} nmo/L</td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/update">
                                    <p style="color:black"> Update data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.glucose}}>
                                    <input type="submit">
                                </form> --}}
                            {{else}}
                                <div class="flex-item" style="color:red">
                                <tr><td >glucose</td><td> &#10006</td></tr>
                                <div style="color:black">
                                    <tr><td> No daily record </td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/add">
                                    <p style="color:black"> Add data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.glucose}}>
                                    <input type="submit">
                                </form> --}}
                            {{/if}}
                        </div>
                        {{!-- {{else}}
                        <div class="flex-item" style="color:grey">
                            <tr><td>glucose</td><td>&#10008</td></tr>
                        </div> --}}                         
                        </div>
                        {{/if}}


                        {{#if patientsettings.requires_insulin}}
                        <div class="row" width="auto" border="1px solid blue">

                            {{#if entry.insulin}}
                            <div class="flex-item" style="color:green">
                            <tr><td >insulin</td><td> &#10003</td></tr>
                                <div style="color:black">
                                    <tr><td> {{entry.insulin.value}} shots</td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/update">
                                    <p style="color:black"> Update data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.insulin}}>
                                    <input type="submit">
                                </form> --}}
                            {{else}}    
                                <div class="flex-item" style="color:red">
                                <tr><td >insulin</td><td> &#10006</td></tr>                           
                                <div style="color:black">
                                    <tr><td> No daily record </td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/add">
                                    <p style="color:black"> Add data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.insulin}}>
                                    <input type="submit">
                                </form> --}}
                            {{/if}}
                        </div>
                        {{!-- {{else}}
                        <div class="flex-item" style="color:grey">
                            <tr><td>insulin</td><td>&#10008</td></tr>
                        </div> --}}                        
                        </div>
                        {{/if}}


                        {{#if patientsettings.requires_steps}}
                        <div class="row" width="auto" border="1px solid blue">

                            {{#if entry.steps}}
                            <div class="flex-item" style="color:green">
                            <tr><td >steps</td><td> &#10003</td></tr>                            
                                <div style="color:black">
                                    <tr><td> {{entry.steps.value}} steps</td></tr>
                                </div>
                            {{!-- <form method="post" action="/patient/data/update">
                                <p style="color:black"> Update data </p>
                                <input id="data-field" type="number" name="data_value">
                                <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                <input id="data-field" type="hidden" name="health_type" value={{entrytypes.steps}}>
                                <input type="submit">
                            </form> --}}
                            {{else}}
                                <div class="flex-item" style="color:red">
                                <tr><td >steps</td><td> &#10006</td></tr>
                                <div style="color:black">
                                    <tr><td> No daily record </td></tr>
                                </div>
                             {{!-- <form method="post" action="/patient/data/add">
                                <p style="color:black"> Add data </p>
                                <input id="data-field" type="number" name="data_value">
                                <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                <input id="data-field" type="hidden" name="health_type" value={{entrytypes.steps}}>
                                <input type="submit">
                            </form> --}}
                            {{/if}}
                        </div>
                        </div>
                        {{!-- {{else}}
                        <div class="flex-item" style="color:grey">
                            <tr><td>steps</td><td>&#10008</td></tr>
                        </div> --}}
                        {{/if}}

                    
                        {{#if patientsettings.requires_weight}}
                        <div class="row" width="auto" border="1px solid blue">
                        {{#if entry.weight}}
                        <div class="flex-item" style="color:green">
                            <tr><td >weight</td><td> &#10003</td></tr>

                                <div style="color:black">
                                    <tr><td> {{entry.weight.value}} kg</td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/update">
                                    <p style="color:black"> Update data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.weight}}>
                                    <input type="submit">
                                </form> --}}
                            {{else}}
                                <div class="flex-item" style="color:red">
                                <tr><td >weight</td><td> &#10006</td></tr>
                                 <div style="color:black">
                                    <tr><td> No daily record </td></tr>
                                </div>
                                {{!-- <form method="post" action="/patient/data/add">
                                    <p style="color:black"> Add data </p>
                                    <input id="data-field" type="number" name="data_value">
                                    <input id="data-field" type="hidden" name="user_id" value={{patient._id}}>
                                    <input id="data-field" type="hidden" name="health_type" value={{entrytypes.weight}}>
                                    <input type="submit">
                                </form> --}}
                            {{/if}}
                        </div>
                        {{!-- {{else}}
                        <div class="flex-item" style="color:grey">
                            <tr><td>weight</td><td>&#10008</td></tr>
                        </div> --}}                        
                        </div>
                        {{/if}}
                    </div>

		    <div class="flex-container-column" style="flex" flex-direction="column" align-items="center" justify-content="center">
                <table>
                <tr>
                    <th>Date</th>
                    <th><a href="/patient/glucosedata">Glucose</a></th>
                    <th><a href="/patient/insulindata">Insulin</a></th>
                    <th><a href="/patient/weightdata">Weight</a></th>
                    <th><a href="/patient/stepsdata">Steps</a></th>
                </tr>
                {{#each historicaldata}}
                    <tr> 
                        <td>{{this.date}} </td>
                        <td>{{this.blood_glucose.value}}  </td>
                        <td>{{this.insulin.value}} </td>
                        <td>{{this.weight.value}} </td>
                        <td>{{this.steps.value}} </td>
                    </tr>
                {{/each}}
                </table>
            </div>
		</div>
	
	
</body><!--______________________________________________________END APP--></html>