<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserInfo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/patient_userInfo.css" />
    <link rel="stylesheet" href="/css/patient_sidebar.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../public/images/favicon.png"
    />
  </head>

  <body>
    {{> sidebarPatient firstname=patient.firstname lastname=patient.lastname profile-img="https://assets.website-files.com/5746d4c4a3e009bb4d9ac858/5a2ef695e43cca0001193a33_Profile.jpg"}}

    <div class="nav">
      <div class="nav-item">
        <img
          class="nav-icon"
          src="#"
          alt=""
        />
        <p class="nav-text">User Info</p>
      </div>
      {{!-- <img
        class="nav-profileimg"
        src="../../public/images/userInfo/profile.jpg"
        alt=""
      /> --}}
    </div>

    {{!-- <!-- Main Profile Photo -->
    <div>
      <img
        class="profilePhoto"
        src="../../public/images/userInfo/profile.jpg"
        alt=""
      />
    </div> --}}

    <!-- User Information Box -->
    <div class="user-info">
      <div class="info-el">
        <p class="info-el__label">Full Name:</p>
        <div class="info-el__value">{{patient.firstname}} {{patient.lastname}}</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Screen Name:</p>
        <div class="info-el__value">{{patient.username}}</div>
        <button class="edit-btn">Edit</button>
      </div>
      <div class="info-el">
        <p class="info-el__label">Date of Birth</p>
        <div class="info-el__value">{{patient.dob}}</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Email:</p>
        <div class="info-el__value">{{patient.email}}</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Password:</p>
        <div class="info-el__value">{{patient.password}}</div>
        <button class="edit-btn" onclick="overlayOn()">Edit</button>
      </div>
      <div class="info-el">
        <p class="info-el__label">Clinician Name:</p>
        <div class="info-el__value">{{patient.assigned_clincian.firstname}} {{patient.assigned_clincian.lastname}}</div>
      </div>
    </div>


    {{!-- OVERLAY --}}
    <div id="overlay" onclick="overlayOff()">
        <div class="entry-flex-item", id="overlay-input-box">
            <div class="header">
                <p class="entry-name" id="overlay-entry-name">Change Password</p>
            </div>
            <form id="input-post-form" method="post" action="">
                <div id="value-field">
                    <a id="value-field-anchor">Old Password:</a>
                    <textarea name="old_password"></textarea>
                    <span id="data-input-unit"></span>
                </div>
                <div id="textarea-field">
                    <a id="textarea-anchor">New Password:</a>
                    <textarea name="new_password"></textarea>
                </div>
                <div id="overlay-buttons">
                    <input id="overlay-submit-button" type="Submit" value="Submit" onclick="">
                    <input type="button" class="cancel" value="Cancel" onclick="overlayOff()">
                </div>
            </form>
        </div>
    </div>

    <script>
    
    function overlayOn() {
        document.getElementById("overlay").style.display = "flex";
    }
    
    function overlayOff() {
        document.getElementById("overlay").style.display = "none";
    }

    function checkValueInput() {
        if (document.getElementById("overlay-operation-info").value=="add" 
                && document.getElementById("overlay-number-input").value == ""){
            alert("Please input a value to record a new data entry!")
        }
    }
    </script>

    {{!-- <!-- Edit Password pop up box -->
    <div class="popup" onclick="showChangePWForm">
      <h3 class="popup-title">Change Password</h3>
      <form class="edit-form">
        <label class="edit-form__label" for="old-pw">Old Password</label>
        <input class="edit-form__input" type="text" id="old-pw" name="old-pw" />
        <br />
        <input
          class="edit-form__btn"
          type="submit"
          id="update"
          value="Update"
        />
        <input
          class="edit-form__btn"
          type="button"
          id="cancel"
          value="Cancel"
        />
      </form>
    </div> --}}
  </body>
</html>
