<title>Patient Messages</title>
<link rel='stylesheet' href='/css/clinican_sidebar.css' />
<link rel="stylesheet" href="/css/clinican_dashboard.css" />
<link rel="stylesheet" href="/css/clinican_patient_info.css" />


<body>
  {{> sidebarClinician this }}
  <main>
    <header>
      <div class="return">
        <img src="/icons/back-icon.svg" alt=""> Back
      </div>
      <h1>Patient Messages</h1>
      <div class="day"> <div id="week_day"></div> <div id="date"></div> </div>
    </header>

    <section class="content">
      <div class="nav patient-options">
        <div class="tabs">
          <div class="tab">Data</div>
          <div class="tab">Messages</div>
          <div class="tab">Notes</div>
          <div class="tab selected">Info</div>
        </div>
        <div class="content">
          <div class="settings">
            <form class="patient-settings" action="/clinician/{{patient._id}}/info/settings?_method=PUT" method="POST">
              <h2>Patient Settings</h2>
              <div class="check-boxes">
                <div class="check-box">
                  <input type="checkbox" name="requires_glucose" id="requires_glucose" {{tickbox settings.requires_glucose}} >
                  <label for="requires_glucose">Blood Glucose</label>
                </div>
                <div class="check-box">
                  <input type="checkbox" name="requires_weight" id="requires_weight" {{tickbox settings.requires_weight}}>
                  <label for="requires_weight">Weight</label>
                </div>
                <div class="check-box">
                  <input type="checkbox" name="requires_insulin" id="requires_insulin" {{tickbox settings.requires_insulin}}>
                  <label for="requires_insulin">Insulin Doses</label>
                </div>
                <div class="check-box">
                  <input type="checkbox" name="requires_steps" id="requires_steps" {{tickbox settings.requires_steps}}>
                  <label for="steps">Steps</label>
                </div>
              </div>
              <div class="button">
                <button type="submit">Update</button>
              </div>

            </form>

            <div class="patient-thresholds">
              <h2>Saftey Thresholds</h2>
            {{#if settings.requires_glucose}}
              <div class="thresholds">
                <h3>Blood Glucose</h3>
                <div class="data">
                  <div class="value">
                    <div class="for">Min Threshold:</div>
                    <div class="for num">{{this.thresholds.blood_result.min_value}}</div>
                  </div>
                  <div class="value">
                    <div class="for">Max Threshold:</div>
                    <div class="for num">{{this.thresholds.blood_result.max_value}}</div>
                  </div>
                  <div class="button">
                    <a href="/clinician/{{this.patient._id}}/info/blood_glucose">Edit</a>
                  </div>
                </div>
              </div>
            {{/if }}

            {{#if settings.requires_insulin}}
              <div class="thresholds">
                <h3>Insulin</h3>
                <div class="data">
                  <div class="value">
                    <div class="for">Min Threshold:</div>
                    <div class="for num">{{this.thresholds.insulin_result.min_value}}</div>
                  </div>
                  <div class="value">
                    <div class="for">Max Threshold:</div>
                    <div class="for num">{{this.thresholds.insulin_result.max_value}}</div>
                  </div>
                  <div class="button">
                    <a href="/clinician/{{this.patient._id}}/info/insulin">Edit</a>
                  </div>
                </div>
              </div>
            {{/if }}

{{#if settings.requires_weight}}
              <div class="thresholds">
                <h3>Weight</h3>
                <div class="data">
                  <div class="value">
                    <div class="for">Min Threshold:</div>
                    <div class="for num">{{this.thresholds.weight_result.min_value}}</div>
                  </div>
                  <div class="value">
                    <div class="for">Max Threshold:</div>
                    <div class="for num">{{this.thresholds.weight_result.max_value}}</div>
                  </div>
                  <div class="button">
                    <a href="/clinician/{{this.patient._id}}/info/weight">Edit</a>
                  </div>
                </div>
              </div>
            {{/if }}

            {{#if settings.requires_steps}}
              <div class="thresholds">
                <h3>Steps</h3>
                <div class="data">
                  <div class="value">
                    <div class="for">Min Threshold:</div>
                    <div class="for num">{{this.thresholds.steps_result.min_value}}</div>
                  </div>
                  <div class="value">
                    <div class="for">Max Threshold:</div>
                    <div class="for num">{{this.thresholds.steps_result.max_value}}</div>
                  </div>
                  <div class="button">
                    <a href="/clinician/{{this.patient._id}}/info/steps">Edit</a>
                  </div>
                </div>
              </div>
            {{/if }}


            </div>

            
          </div>
          <div class="patient-details"></div>
        </div>
      </div>
    </section>



<script>
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  const date =  new Date();
  const week_day = days[date.getDay()];
  const day = date.getDate();
  const month = months[date.getMonth()];
  const year = date.getFullYear();

  document.getElementById("week_day").innerHTML = week_day + ",";
  document.getElementById("date").innerHTML = day + " " + month + " " + year;

  document.getElementsByClassName("name")

</script>




