<title>Patient Trends Glucose</title>
<link rel='stylesheet' href='/css/clinican_sidebar.css' />
<link rel="stylesheet" href="/css/clinican_patient_notes.css" />
<link rel="stylesheet" href="/css/clinican_patient_notes_new.css" />
<link rel="stylesheet" href="/css/clinican_dashboard.css" />

<div class="overlay">
  <form action="/clinician/{{patient._id}}/notes/new" method="POST">
    <h1>Add Note</h1>
    <textarea name="note" id="note" cols="30" rows="10"></textarea>
    <div class="buttons">
      <button class="button">Add</button>
      <div class="button">
        <a href="/clinician/{{patient._id}}/notes/">
          Cancel
        </a>
        </div>
    </div>
  </form>
</div>

<body>
  {{> sidebarClinician this }}
  {{log this}}
  <main>
    <header>
      <div class="return">
        <img src="/icons/back-icon.svg" alt=""> Back
      </div>
      <h1>Patient Data</h1>
      <div class="day"> <div id="week_day"></div> <div id="date"></div> </div>
    </header>


    <section class="content">
      <div class="nav patient-options">
        <div class="tabs">
          <div class="tab">Data</div>
          <div class="tab">Messages</div>
          <div class="tab selected">Notes</div>
          <div class="tab">Info</div>
        </div>
        <div class="content">
                    <div class="notes" >
            <div class="header">
                <h3>Note Date:</h3>
                <a href="/clinician/{{patient._id}}/notes/new"><img src="/icons/add_button.svg" alt=""></a>
            </div>
            {{#each all_notes as |note|}}
              <div class="note">
                <a href="/clinician/{{patient._id}}/notes/{{note._id}}/">
                  {{formatDateTime note.created}}
                </a>
              </div>
            {{/each }}

          </div>
          <div class="patient-notes"></div>
        </div>
      </div>
    </section>



<script>
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  const date =  new Date();
  const week_day = days[date.getDay()];
  const day = date.getDate();
  const month = months[date.getMonth()];
  const year = date.getFullYear();

  document.getElementById("week_day").innerHTML = week_day + ",";
  document.getElementById("date").innerHTML = day + " " + month + " " + year;

  document.getElementsByClassName("name")

</script>




