<title>Clinician Dashboard</title>
<link rel="stylesheet" href="../css/clinican_dashboard.css" />
<link rel='stylesheet' href='../css/clinican_sidebar.css' />


<body>
  {{> sidebarClinician this }}
  <main>
    <header>
      <h1>Patient Trends</h1>
      <div class="day"> <div id="week_day"></div> <div id="date"></div> </div>
    </header>
    <section>
      <div class="search-bar">
        <img src="../icons/search.svg" alt="" class="icon">
        <input type="text" id="search-box" placeholder="Search Bar">
      </div>
      <div class="patients">
      <div class="patient">
        <div class="patient-name"></div>
        <div class="patient-data"><img src="../icons/blood-glucose.svg" alt="" class="unit-icon"></div>
        <div class="patient-data"><img src="../icons/weight.svg" alt="" class="unit-icon"></div>
        <div class="patient-data"><img src="../icons/insulin.svg" alt="" class="unit-icon"></div>
        <div class="patient-data"><img src="../icons/steps.svg" alt="" class="unit-icon"></div>
      </div>
      {{#each patients}}
        {{#each this}}
          <div class="patient">
              <div class="patient-name">
                <img src="https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" alt="patient-pic" class="patient-pic">
                    <a href="#"
                    {{!-- href="/clinician/trends/{{_id}}" --}}
                    >
                      {{firstname}} {{lastname}}
                    </a>
              </div>
              {{#with thresholds}}
                <div class="patient-data">
                  {{#with blood_result}}
                    {{log patient.patient_data}}
                    {{#if patient.patient_data.glucose}} 
                      {{#if (check_range patient.patient_data.glucose.value min_value max_value)}} 
                        {{patient.patient_data.glucose.value}} nmo/L
                      {{else}}
                        <div class="danger">
                          <img src="/icons/danger.svg">
                          {{patient.patient_data.glucose.value}} nmo/L
                        </div>
                      {{/if}}
                    {{else}}
                      <div class="warn">
                          <img src="/icons/warn.svg">
                        </div>
                    {{/if}}
                  {{/with}}

                </div>
                <div class="patient-data">
                  {{#if weight_result}}
                    Something should go here
                  {{else}}
                    -
                  {{/if}}
                </div>
                <div class="patient-data">
                  {{#if insulin_result}}
                    Something should go here
                  {{else}}
                    -
                  {{/if}}
                </div>
                <div class="patient-data">
                  {{#if steps_result}}
                    Something should go here
                  {{else}}
                    -
                  {{/if}}
                </div>
              {{/with}}
          </div>
      {{/each}}
      {{/each}}

      </div>

    </section>






<script>
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  date =  new Date();
  week_day = days[date.getDay()];
  day = date.getDate();
  month = months[date.getMonth()];
  year = date.getFullYear();

  document.getElementById("week_day").innerHTML = week_day + ",";
  document.getElementById("date").innerHTML = day + " " + month + " " + year;



</script>